{{> nav/nav-block}}

<div id="main-container" class="container shadow-md bg-gray-800">
  {{!-- <div class="text-center header-wrap" align="center">
    <p class="lead text-white"> Welcome to <span class="logotext text-white">Subscription Tracker</span></p>
    <p class="big-emoji">🗓️</p>
    <p class="text-base">The world's premier application for tracking subscriptions for households. </p>
    <hr class="my-4">
    <div> --}}
      {{#if isloggedin}}
      You are logged in as {{user.firstName}}

      <div class="grid grid-rows-3 grid-flow-col gap-x-10">
        <table
          class="rounded-lg justify-center table row-span-3 col-span-1 border-collapse border bg-gray-900 border-white">
          <thead class="text-yellow-600 text-lg">
            <tr>
              <th class="p-3">Name</th>
              <th class="p-3">Cost</th>
              <th class="p-3">Due Date</th>
              <th class="p-3">Edit or Delete</th>
            </tr>
          </thead>
          <tbody id="userSubTable" class="border-seperate border-white border">
          </tbody>
        </table>
        <div id='calendar' class="bg-gray-900 text-white col-span-6 row-span-3"></div>
      </div>
      <a href="/newsub" class="mr-3 text-2xl">Add a new Subscription<i class="fas fa-plus ml-2"></i></a>

      {{else}}
      <p class="text-base">New here?</p>
      <p class="text-base">You need to log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>



{{> modal/login-block}}